/*General Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header Style */
.header {
  background-color: rgb(63, 63, 63);
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px;
}

/*Link Bar Style*/
.link_bar ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
  color: white;
  list-style-type: none;
  text-align: center;
  padding: 10px;
}
a {
  text-decoration: none;
  color: white;
}

/*Main and Aside content Style*/
.main_aside {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: rgba(22, 22, 22, 0.801);
}

.main_aside_colum1 {
  color: white;
  background-color: rgb(34, 0, 0);
  width: 100%;
  padding-bottom: 300px;
  padding-top: 10px;
  padding-left: 10px;
}

.main_aside_colum2 {
  color: white;
  background-color: rgb(190, 180, 168);
  width: 100%;
  padding-bottom: 300px;
  padding-top: 10px;
  padding-left: 10px;
}

/*Footer Style*/
.footer {
  background-color: rgb(63, 63, 63);
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 120px;
}
