* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 840px;
  align-items: center;
}

/* Header Styles */
header h2 {
  background-color: rgb(66, 85, 255);
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

/*Link Bar Styles / Header Styles */
.link_bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  background-color: rgb(27, 27, 27);
}
.link_bar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
}

/*Main Content Styles */
.grid_1 {
  display: grid;
  max-width: 840px;
  grid-template-columns: 830px 0;
  gap: 0;
  margin-top: 20px;
}

/* Card 1 Styles */
.card_1 {
  border: 2px solid black;
  max-width: 70%;
  margin-left: 0;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}
.card_1 h2 {
  text-decoration: underline;
  color: black;
  margin-left: 230px;
  margin-top: 0;
  margin-bottom: 20px;
}
.card_1 h3 {
  color: black;
  text-align: left;
  margin-left: 260px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: underline;
}
.card_1_1 img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 55px;
  margin-right: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  float: right;
}
.card_1_2 img {
  width: 190px;
  margin-top: 45px;
  margin-left: 0;
  height: auto;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  float: left;
}

/* Card 2 Styles*/
.card_2 {
  border: 2px solid black;
  margin-left: -230px;
  padding: 65px;
  padding-bottom: 152px;
  border-radius: 10px;
}
.card_2 h2 {
  text-decoration: underline;
  color: black;
  margin-bottom: 30px;
}

/* Footer Styles */
footer {
  background-color: rgb(66, 85, 255);
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
