@media screen and (max-width: 550px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --primary: #0a3d62;
    --secundary: #6a8c3a;
    --third: #f0a500;
    --text-dark: #1a1a1a;
    --text-light: white;
  }
  body {
    font-family: "Roboto", sans-serif;
  }
  header {
    background-color: var(--primary);
    padding: 10px;
    color: var(--text-light);
    text-align: center;
  }
  header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 35px;
  }
  main img {
    background-color: var(--secundary);
    width: 100%;
    padding: 5px;
  }
  .card-data {
    padding-top: 30px;
    text-align: center;
  }
  .card-content {
    padding-top: 30px;
    text-align: center;
  }
  .weather img {
    background-color: white;
    width: 20%;
    padding-top: 40px;
    margin-left: 41%;
  }
  .text-weather {
    text-align: center;
  }
  footer {
    background-color: var(--primary);
    color: var(--text-light);
    text-align: center;
    margin-top: 30px;
    padding: 10px;
  }
  .name-fire::after {
    content: "🔥";
  }
  .name-fire::before {
    content: "🔥";
  }
  .name-country::after {
    content: "🔥";
  }
  .name-country::before {
    content: "🔥";
  }
}
