header {
  background-color: darkslategray;
  text-align: center;
  color: white;
}
header h1 {
  margin: 0;
  padding: 10px 0;
}
main {
  box-sizing: border-box;
  background-color: lightgray;
  margin: 20px;
  padding: 10px;
}
footer {
  background-color: darkslategray;
  color: white;
  text-align: center;
  padding: 10px 0;
}
button {
  margin-top: 10px;
}
