@media screen and (max-width: 500px) {
  header {
    background-color: black;
    padding: 10px;
    color: #ffff;
  }
  header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 35px;
  }

  .menu-icon {
    display: block;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }

  #menu-toggle {
    display: none;
  }

  .link-bar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    text-align: center;
    gap: 15px;
    padding: 20px 0;
    background-color: #00abe4;
  }

  #menu-toggle:checked + .menu-icon + .link-bar {
    display: flex;
  }

  .link-bar a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px;
    transition: background 0.3s;
  }

  .link-bar a:hover {
    background-color: #e9f1fa6c;
    transform: scale(1.05);
  }

  nav,
  .link-bar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 20px;
  }
}

/*Main*/

main h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

/* General Container */
#temple-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

/* Each card */
.temple-card {
  background: #efefef;
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/*  hover */
.temple-card:hover {
  transform: TranslateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

/* Title */
.temple-card h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* Paragraphs */
.temple-card p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
  color: #444;
}

/* Image */
.temple-card img {
  width: 100%;
  height: auto;
  margin-top: 0.8rem;
  border-radius: 6px;
  object-fit: cover;
}
