/*Light blue (#E9F1FA), bright blue (#00ABE4), white (#FFFFFF)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/*Link Bar*/
@media screen and (min-width: 500px) {
  .menu-icon,
  #menu-toggle {
    display: none;
  }

  header {
    background-color: #00abe4;
    padding: 10px;
    color: #ffff;
  }
  header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 35px;
  }

  .link-bar {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
  }
  .link-bar a {
    margin-top: 0;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: large;
  }
  .link-bar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .link-bar a:hover {
    background-color: #e9f1fa6c;
    transform: scale(1.05);
  }

  /*Main*/

  main {
    max-width: 840px;
    margin: 0 auto;
  }

  h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .temples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    max-width: 840px;
    margin: 0 auto;
  }
  .temples img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .temples figcaption {
    text-align: center;
    margin-top: 4px;
  }
}

/*footer*/

footer {
  background-color: #00abe4;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  color: white;
}
.name {
  font-size: 20px;
}
.dates {
  font-size: 15px;
  margin-top: 4px;
}
